<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shgbit.cloudhealth.dao.GuideImagesDao" >
    <select id="queryGuideSteps" resultType="com.shgbit.cloudhealth.model.DeviceTeachingStep" parameterType="com.shgbit.cloudhealth.model.DeviceTeachingStep" >
        select * from guide_images where measure_type = #{measure_type,jdbcType=VARCHAR}
        and device_type = #{device_type,jdbcType=VARCHAR}
    </select>
</mapper>